@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>
@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class=row>
        <div class="text-center">
            <h2>Usuario</h2>

        </div>
        <div class="col-md-6 col-sm-12">
            <h2>Detalle</h2>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h5>Seleccione un usuario para editarlo o + para agregar...</h5>
            <hr />
        </div>
        <div class="col-md-12">
            <div style="float:right;">
                @Html.ActionLink("+", "Form", "UserController", htmlAttributes: new { @class = "btn btn-success" })
            </div>
        </div>
    </div>
    </br>


    @if (Model != null)
    {
        <div class="row">
            <table class="table table-hover table-striped table-bordered table-responsive" id="table_usuarios">
                <thead>
                    <tr class="table-secondary">
                        <td>Editar</td>
                        <td style="display :none;">id</td>
                        <td>Nombre</td>
                        <td>Telefono</td>
                        <td>Correo</td>
                        <td style="display :none;">Password</td>
                        <td>Eliminar</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td style="text-align: center; vertical-align: middle;"> @* Boton de editar *@
                                <a class="btn btn-warning glyphicon" href="@Url.Action("Form", "User", new { user.Id })">
                                    <i class="bi bi-pencil-square" style="color: ivory"></i>
                                </a>
                            </td>

                            <td style="display :none;">@user.Id </td>  @* id del usuario no visible *@
                            <td>@user.UserName</td>  @* Nombre del usuario *@
                            <td>@user.PhoneNumber</td>  @* numero de telefono del usuario *@
                            <td>@user.Email</td>  @* correo del usuario *@
                            <td style="display :none;">@user.PasswordHash</td>  @* contrasena del usuario *@
                            <td style="text-align: center; vertical-align: middle;"> @* Boton de eliminar *@
                                <a class="btn btn-danger glyphicon glyphicon-trash" href="@Url.Action("Delete", "User",  new { user.Id })" onclick="return confirm('Estas seguro que deseas eliminar este registro?');">
                                    <i class="bi bi-eraser-fill" style="color: mintcream"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }

</div>